
    
    
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a routerLink="" class="logo"><em> BATUMI</em>Car Rental</a>
                        
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a routerLink="/Home" [routerLinkActive]="['active']">Home</a></li>
                            
                            <li><a routerLink="/Offers" [routerLinkActive]="['active']">Offers</a></li>
                            <li><a routerLink="/AboutUs" [routerLinkActive]="['active']">About Us</a></li>
                            <li><a routerLink="/Contact" [routerLinkActive]="['active']">Contact</a></li> 
                            <app-select-language></app-select-language>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->