
    
    
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a routerLink="/{{translate.currentLang}}" class="logo"><em> BATUMI</em>Car Rental</a>
                        
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" [style.display]="isActiveMenuTrigger ? 'block' : 'none'">
                            <li><a routerLink="/{{translate.currentLang}}/home" [routerLinkActive]="['active']">Home</a></li>
                            
                            <li><a routerLink="/{{translate.currentLang}}/offers" [routerLinkActive]="['active']">Offers</a></li>
                            <li><a routerLink="/{{translate.currentLang}}/aboutus" [routerLinkActive]="['active']">About Us</a></li>
                            <li><a routerLink="/{{translate.currentLang}}/contact" [routerLinkActive]="['active']">Contact</a></li> 
                            <app-select-language></app-select-language>
                        </ul>        
                        <div  (click) = menuTrigger() [className]="isActiveMenuTrigger  ? 'menu-trigger active' : 'menu-trigger'" >
                            <span>Menu</span>
                        </div>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->