
    
  


    <app-header></app-header>
    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Offers</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                        <h6>{{'lorem' | translate}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->


   <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
            <div class="row">
                
                <div class="col-lg-4 col-md-4" *ngFor="let carRent of carRentList">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="/assets/images/offer-2-720x480.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>from <sup>$</sup>120 per weekend</span>
                            <h4>{{ carRent.pickUpLocation }}</h4>
                            <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            <ul class="social-icons">
                                <li><a (click)="open(mymodal, carRent)" data-toggle="modal" data-target="#exampleModal">+ Book Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>

            <br>
                
            

        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
    <app-footer></app-footer>

    <!-- Modal -->
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="contact-us">
          <div class="contact-form">
            <form [formGroup]="ChosenCarForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                          <input formControlName="pickUpLocation" type="text" class="form-control" placeholder="Pick-up location" required="">
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                          <input formControlName="ReturnLocation" type="text" class="form-control" placeholder="Return location" required="">
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                          <input formControlName="pickedDateTime" type="text" class="form-control" placeholder="Pick-up date/time" required="">
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                          <input formControlName="returnDateTime" type="text" class="form-control" placeholder="Return date/time" required="">
                        </fieldset>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Enter full name" required="">

                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                          <input formControlName="email" type="text" class="form-control" placeholder="Enter email address" required="">
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                          <input formControlName="phone" type="text" class="form-control" placeholder="Enter phone" required="">
                        </fieldset>
                    </div>
                </div>
              
          
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Cancel</button>
                  <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')">Book Now</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
      
  
